In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder

In [4]:
df=pd.read_csv("Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
cat_cols=["Gender"]
le=LabelEncoder()

for col in cat_cols:
    df[col]=le.fit_transform(df[col].astype(str))

In [6]:
# Feature & Target
X=df[["Gender","Age","EstimatedSalary"]]
y=df["Purchased"]

In [7]:
# Train-Test-Split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [27]:
# Model
model=CatBoostClassifier(
    iterations=200,
    learning_rate=0.1,
    depth=6,
    loss_function='Logloss',
    verbose=0
)
model.fit(X_train,y_train)

In [28]:
# Prediction
y_pred=model.predict(X_test)

In [29]:
print("Accuracy:",accuracy_score(y_test,y_pred))

Accuracy: 0.8916666666666667

In [30]:
print("Confusion Matrix:\n",confusion_matrix(y_test,y_pred))

Confusion Matrix:
 [[68  5]
 [ 8 39]]

In [31]:
print("Classification Report:\n",classification_report(y_test,y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.93      0.91        73
           1       0.89      0.83      0.86        47

    accuracy                           0.89       120
   macro avg       0.89      0.88      0.88       120
weighted avg       0.89      0.89      0.89       120